.mapl{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 0.3em black;
}
.mapr{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    overflow: hidden;
    width: 100%;    
    box-shadow: 0.3em 0.3em 0.3em black;
}
h1{
    font-size: 1.5em;
    color: #FFCC53;
    font-family: 'Chewy', cursive;
    text-shadow: 0.1em 0.1em black;
    text-align: center;

}
.padress{
    font-family: 'Abhaya Libre', serif;
    font-size: 1.5em;
    text-align: center;
}

.toflex{
    display: flex;
    flex-direction: row;
}

.andrl{
    border: solid white 2px;
    border-radius: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(255,255,255,0.65);
    box-shadow: 0.3em 0.3em 0.3em black;
    margin-top: 1em;
}

.chrl{
    border: solid white 2px;
    border-radius: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(255,255,255,0.65);
    box-shadow: 0.3em 0.3em 0.3em black;
    margin-top: 1em;
}

.principal{
    background-image: url(/assets/img/restau.jpg);
    background-attachment: fixed;
    padding-top: 3em;
    padding-bottom: 3em;
    justify-self: center;
}
.space{
    margin-left: 1em;
}

.schedule{
    border: 1px solid black;
    padding-top: 2em;
    background-image: url(/assets/img/plats-resize.jpg);
    background-attachment: fixed;
    width: 100%;
    text-align: center;
}
.end{
    border: solid white 2px;
    border-radius: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgba(255,255,255,0.65);
    box-shadow: 0.3em 0.3em 0.3em black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}