$noir: #000;
$jaune: #FFCC53;

body{
    background-color: #5A7CA7;
}
header{
    box-shadow: 0px 2px 10px $jaune;
    nav{
        background-color:  #214238;
        margin-bottom: 70px;
        box-shadow: 0px 2px 10px $jaune;
        a{
            .logo70px{
                width: 70px;
                height: auto;
            }
        }
        .menu{
            font-family: 'Chewy', cursive;
            color: $jaune;
            li{
                padding: 0 30px;
            }
        }
    }
    #paolo{
        width: 100%;
        margin-top: 70px;
    }
    .intro{
        .photo{
            background-attachment: fixed;
            background-size: cover;
        }
        .info{
            margin-top: 12em;
            margin-left: 30em;
            .tintro{
                font-family: 'Chewy', cursive;
                color: #FFCC53;
                font-size: 2em;
            }
            .logo{
                width: 50%;
                padding-left: 6em;
            }
        }
    }
}
main{
    //background: url("../img/testbg01.png") repeat-y;
    background: url("../img/testbg02.png") repeat-y;
    background-size: contain;
    width: 100%;
    #content{
        width: 80%;
        margin: 0 auto;
        padding: 1px 100px 1px;
        background-color: $jaune;
        .video{
            padding: 5em 0 2em;
            text-align: center;
            justify-content: center;
            .yt{
                box-shadow: 0.3em 0.3em 0.3em  #343a40;
                width: 80%;
                height: 400px;
                //max-height: 500px;
                //min-height: 200px;
            }
            p{
                font-family: 'Abhaya Libre', serif;
                color: white;
            }
            .end{
                display: flex;
                flex-direction: row;
                .jumbotron{
                    background-color: #4B9960;
                    overflow: hidden;
                }
                .l-side{
                    width: 45%;
                    border: solid 1px black;
                    box-shadow: 0.3em 0 0.3em #343a40;
                    .plate{
                        width: 100%;
                    }
                    h1{
                        font-family: 'Chewy', cursive;
                        color: white;
                    }
                    p{
                        font-family: 'Abhaya Libre', serif;
                        color: white;
                    }
                }
                .r-side{
                    width: 45%;
                    margin-left: 7em;
                    .card{
                        .card-body{
                            margin-bottom: 1.5em;
                            h5{
                                font-family: 'Chewy', cursive;
                                color: $jaune;
                            }
                            .card-title{
                            }
                            .card-text{
                                color: white;
                            }
                            .card-link{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
footer{
    box-shadow: 0px -2px 10px $jaune;
    font-family: 'Chewy', cursive;
    div{
        ul{
            li{
                padding: 0 20px;
                .logo40px{
                    width: 40px;
                    height: auto;
                }
                a{
                    color: $jaune;
                    &:hover{
                        color: #ffd;
                    }
                }
                #link-dis:link{
                      color: $jaune;
                      pointer-events: none;
                      cursor: default;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
  main{
        article{
            width: 100%;
            margin: 0 auto;
            padding-bottom: 1px;
            background-color: $jaune;
        }
    }
}